.questionBar {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  flex-direction: row;
  position: fixed;
  margin: -60px;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  height: 10px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.inputBox {
  /* Add your desired styles for the input boxes here */
  flex: 1;
  background: #FFF8DC;
}

.submitBox {
  display: flex;

  margin-left: 10px;
  height: 50px;
  /* width: 50px; */
  border-radius: 8px;
  padding-bottom: 5px;
}

.arrowImg {
  height: 42px;
  width: 42x;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.Disclaimer {
  font-size: 12px;
  color: #3498db;
  /* margin-right: -600vh; */
}